// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.cover-user-show {
  height: 100%;
  width: 100%;
}

.cover-user-index {
  height: 100%;
  width: 100%;
}

.cover-user-edit {
  height: 100%;
  width: 100%;
}

